//set the framework direction either left-to-right or right-to-left
$document-direction:ltr !default;

$base-font-size:16px;
$base-font-family:sans-serif !default; 
//The ratio of font-size to line-height
$base-typography-ratio:1.4 !default;

$heading-font-family:sans-serif !default;
