@mixin FullScreenWindow($position:absolute) {
	position:$position;
	top:0px;
	left:0px;
	height:100%;
	width:100%;

	@content;
}

@mixin BoxScreenWindow($position:absolute,
	$height:300px,
	$width:600px,
	$centerVertically:true,
	$centerHorizontally:true){
	position:$position;
	@if $centerVertically{
		@include CenterVertically($height);
	} 
	@if $centerHorizontally{
		@include CenterHorizontally($width);
	}
	@content;
}